
version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: laravel_app
    volumes:
      - .:/var/www
    environment:
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: KneeCovery
      DB_USERNAME: root
      DB_PASSWORD: Opleiding_ICT@123
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx:/etc/nginx/conf.d
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: laravel_db
    environment:
      MYSQL_ROOT_PASSWORD: Opleiding_ICT@123
      MYSQL_DATABASE: KneeCovery
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql
      - ./mysql/DDL_script.sql:/docker-entrypoint-initdb.d/DDL_script.sql:ro

  node:
    image: node:20
    working_dir: /var/www
    volumes:
      - .:/var/www
    command: tail -f /dev/null

volumes:
  dbdata:
